<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario-Agrega Curso</title>
</head>
<body>
    {% if miFormulario.errors %}
    <p style="color:red;">Estan mal los datos, revisar</p>
    {% endif %}

    <form action=""method="POST">{% csrf_token %}
        <!--aca van los elementos de django-->

        <table>
            {{ miFormulario.as_table }}
        </table>

        <input type="submit" value="Enviar">
        
    
    </form>
    
</body>
</html>