{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    <title>Agregar Estudiantes</title>
</head>
<body>
    <h3><p style="color:white"> Ingreso de Estudiantes</p></h3>
    {% if miFormulario.errors %}
    <p style="color:red;">Estan mal los datos, revisar</p>
    {% endif %}

    <form action=""method="POST">{% csrf_token %}
        <!--aca van los elementos de django-->

        <table>
            {{ miFormulario.as_table }}
        </table>

        <input type="submit" value="Enviar">
    </form>
    
    {% if miFormulario.errors %}
    <p style="color: red;">Estan mal los datos , revisar.</p>
    {% endif %}
</body>
</html>
{% endblock %}